language: python

python:
  - "3.5"

cache: pip

sudo: false

env:
    - TOX_ENV=py27-flake8
    - TOX_ENV=py27-docs
    - TOX_ENV=py27-django1.7-drf3.0
    - TOX_ENV=py33-django1.7-drf3.0
    - TOX_ENV=py34-django1.7-drf3.0
    - TOX_ENV=py27-django1.7-drf3.1
    - TOX_ENV=py33-django1.7-drf3.1
    - TOX_ENV=py34-django1.7-drf3.1
    - TOX_ENV=py27-django1.7-drf3.2
    - TOX_ENV=py33-django1.7-drf3.2
    - TOX_ENV=py34-django1.7-drf3.2
    - TOX_ENV=py27-django1.7-drf3.3
    - TOX_ENV=py33-django1.7-drf3.3
    - TOX_ENV=py34-django1.7-drf3.3
    - TOX_ENV=py27-django1.8-drf3.0
    - TOX_ENV=py33-django1.8-drf3.0
    - TOX_ENV=py34-django1.8-drf3.0
    - TOX_ENV=py35-django1.8-drf3.0
    - TOX_ENV=py27-django1.8-drf3.1
    - TOX_ENV=py33-django1.8-drf3.1
    - TOX_ENV=py34-django1.8-drf3.1
    - TOX_ENV=py35-django1.8-drf3.1
    - TOX_ENV=py27-django1.8-drf3.2
    - TOX_ENV=py33-django1.8-drf3.2
    - TOX_ENV=py34-django1.8-drf3.2
    - TOX_ENV=py35-django1.8-drf3.2
    - TOX_ENV=py27-django1.8-drf3.3
    - TOX_ENV=py33-django1.8-drf3.3
    - TOX_ENV=py34-django1.8-drf3.3
    - TOX_ENV=py35-django1.8-drf3.3
    - TOX_ENV=py27-django1.8-drf3.4
    - TOX_ENV=py33-django1.8-drf3.4
    - TOX_ENV=py34-django1.8-drf3.4
    - TOX_ENV=py35-django1.8-drf3.4
    - TOX_ENV=py27-django1.8-drf3.5
    - TOX_ENV=py33-django1.8-drf3.5
    - TOX_ENV=py34-django1.8-drf3.5
    - TOX_ENV=py35-django1.8-drf3.5
    - TOX_ENV=py27-django1.9-drf3.3
    - TOX_ENV=py34-django1.9-drf3.3
    - TOX_ENV=py35-django1.9-drf3.3
    - TOX_ENV=py27-django1.9-drf3.4
    - TOX_ENV=py34-django1.9-drf3.4
    - TOX_ENV=py35-django1.9-drf3.4
    - TOX_ENV=py27-django1.9-drf3.5
    - TOX_ENV=py34-django1.9-drf3.5
    - TOX_ENV=py35-django1.9-drf3.5
    - TOX_ENV=py27-django1.10-drf3.4
    - TOX_ENV=py34-django1.10-drf3.4
    - TOX_ENV=py35-django1.10-drf3.4
    - TOX_ENV=py27-django1.10-drf3.5
    - TOX_ENV=py34-django1.10-drf3.5
    - TOX_ENV=py35-django1.10-drf3.5

matrix:
  fast_finish: true

install:
  - pip install -r requirements.txt
  - pip install tox python-coveralls

script:
    - tox -e $TOX_ENV
    - coverage run runtests.py

after_success:
  coveralls

