# Minimum Django and REST framework version
Django>=3.0
djangorestframework>=3.5

# Test requirements
pytest-django
django-environ
pytest>=3.6
pytest-cov>=2.6
coveralls
flaky
flake8
tox

# wheel for PyPI installs
wheel

mock
